
.shop-sidebar {
   display: none;
   flex: 0 1 250px;
   margin-right: 50px;
   // @include media($breakpointMd){
   //    flex-basis: 250px;
   // }
   @include media($breakpointLg){
      display: block;
      flex-basis: 300px;
   }
   @include media($breakpointXXl){
      flex-basis: 366px;
   }

   &__item {
      border: 1px solid #D6D7D9;
      padding: 30px;
   }

   &__title {
      font-size: 1.8rem;
      margin-bottom: 20px;
   }

   &-category {
      font-size: 1.6rem;
      font-weight: 600;
      &-sub {
         transition: all 1s;
         margin-top: 20px;
         margin-left: 30px;
         display: none;

         &--show {
            display: block;
         }
      }

      &__item {
         margin-bottom: 20px;

         &--has-sub {
            position: relative;
            &.sub-show {
               .arrow {
                  transition: transform 0.3s;
                  transform: rotate(225deg);
               }
            }
         }

         &--active > a {
            color: $red;
         }
      }

      a {
         &:hover {
            color: lighten($red, 10);
         }
      }
   }


}

.shop{
   flex: 1;

   &__category-row{
      position: relative;
      padding: 30px 0;
      border-top: 1px solid $grayLight;
      border-bottom: 1px solid $grayLight;
   }

   &__category-cta{
      position: absolute;
      right: 0;
      top: -25px;
      display: none;
      color: $grayLight;
      font-size: 1.4rem;

      @include media($breakpointLg){
         display: inline;
      }
   }

   &__category-btn{
      padding: 20px 0;
      position: relative;
      background-color: $red;
      @include media($breakpointLg){
         padding: 0;
      }

      &:before, &:after{
         content: '';
         position: absolute;
         display: none;

         @include media($breakpointLg){
            display: inline-block;
         }
      }

      &:before{
         bottom: 20%;
         left: 50%;
         width: 40px;
         height: 10px;
         background-color: #fff;
         border-radius: 3px;
         transform: translateX(-50%);
      }

      &:after{
         bottom: 20%;
         width: 22px;
         height: 22px;
         border-right: 10px solid #fff;
         border-bottom: 10px solid #fff;
         border-radius: 4px;
         transform: translate(20%, 35%) rotate(-45deg);
      }
   }

   &__category-header{
      color: #fff;
      font-size: 1.8rem;
      text-transform: uppercase;

      @include media($breakpointLg){
         font-size: 3rem;
      }
      @include media($breakpointXXl){
         font-size: 4rem;
      }
   }

   &__item{
      padding: 10px;
      box-shadow: 0 0 3px rgba($grayLight, 0.6);
      box-sizing: border-box;

      @include media($breakpointLg){
         padding: 0;
         box-shadow: none;
      }
   }

   &__product-img{
      margin: 20px 0;
      height: 180px;
      width: auto;

      @include media($breakpointMd){
         width: 100%;
         height: auto;
         max-height: 230px;
         object-fit: contain;
      }
   }

   &__item-excerpt{
      display: none;
   }

   &__price{
      color: $red;
      font-weight: 700;
      font-size: 2.2rem;

      .woocommerce-Price-amount.amount{
         font-size: 2.2rem;
      }

      &--big{
         font-size: 3.4rem;
      }

      &--medium {
         font-size: 2.6rem;
      }

      &--dark {
         color: $grayText;
      }

   }

   &__product-name{
      font-size: 1.4rem;
      font-weight: 600;
   }

   @include media($breakpointMd){
      &-list-view{
         grid-template-columns: none;
      }

      &-list-view &__item{
         flex-wrap: nowrap;
         flex-direction: row;
         border-bottom: 1px solid $grayLight;
         text-align: left;
         box-shadow: none;
      }

      &-list-view &__content{
         display: block;
      }

      &-list-view &__item-excerpt{
         display: block;
      }

      &-list-view &__product-img{
         flex: 0 0 230px;
         // width: auto;
      }
   }

   .orderby {
      padding: 10px 16px;
      min-width: 260px;
      font-family: $font;
      border: 1px solid #D6D7D9;

   }

}

.gridSwitcher {
   display: flex;
   width: 70px;
   float: right;
   // margin-right: 40px;
   &__item {
      font-size: 3rem;
      width: 35px;
      &:hover {
         cursor: pointer;
         color: $red;
      }

      &--grid {
         margin-right: 10px;
         &:before {
            font-family: FontAwesome;
            content: '\f00a';
         }
      }

      &--list {
         &:before {
            font-family: FontAwesome;
            content: '\f03a';
         }
      }

      &--active {
         color: $red;
      }
   }
}
