.shop-item {
  &__img {
    justify-self: end;
  }

  &__title {
    color: #333a41;
    font-weight: 700;
    border-bottom: 1px solid #d6d7d9;
    padding-bottom: 30px;
  }

  &__info {
    margin-top: 20px;
    font-size: 1.6rem;

    border-bottom: 1px solid #d6d7d9;
    padding-bottom: 30px;
  }

  &__price {
    margin-top: 20px;
  }

  &__items-number {
    margin: 0 30px;
  }

  &__not-available {
    margin-top: 20px;
  }
}
