.shop-item {
  &__content {
    margin-bottom: 50px;
    @include media($breakpointLg) {
      margin-bottom: 0;
    }
  }

  &__img {
    justify-self: end;
  }

  &__title {
    color: #333a41;
    font-weight: 700;
    border-bottom: 1px solid #d6d7d9;
    padding-bottom: 30px;
  }

  &__info {
    margin-top: 20px;
    font-size: 1.6rem;

    border-bottom: 1px solid #d6d7d9;
    padding-bottom: 30px;
  }

  &__inventory-available {
    width: 20px;
    height: 20px;
    background-color: #4fd146;
    border-radius: 100%;
    margin-left: 5px;
    margin-right: 5px;

    &--red {
      background-color: red;
    }
  }

  &__price {
    margin-top: 20px;
  }

  &__price-add {
  }

  &__items-number {
    margin: 0 30px;
    padding: 10px 20px;
  }

  &__not-available {
    margin-top: 20px;
  }

  &__profit {
    border-top: 1px solid #d6d7d9;
    border-bottom: 1px solid #d6d7d9;
    padding: 35px 0;
  }

  &__profit-image {
    width: 44px;
    height: 36px;
    margin-right: 20px;
  }

  &__profit-item {
  }
}
